<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Essential META Tags -->
    <meta property="og:title" content="Helicopter Performance Calculator">
    <meta property="og:description" content="Assess the performance of your helicopter.">
    <meta property="og:image" content="https://www.helicopterperformance.com/static/meta.jpg">
    <meta property="og:url" content="https://www.helicopterperformance.com/index.html">
    <!--meta name="twitter:card" content="summary_large_image"-->
    <!--  Non-Essential, But Recommended -->
    <!--meta property="og:site_name" content="European Travel, Inc.">
    <meta name="twitter:image:alt" content="Alt text for image"-->
    <!--  Non-Essential, But Required for Analytics -->
    <!--meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@website-username"-->
    <title>Rejected Takeoff Distance Calculator for AW139 with Clear Area Takeoff.</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.jpg' ) }}" width="160" height="40" alt="HelicopterPerformance.com" border=0 style="border:0; margin-top:0"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('AW139') }}">AW139</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('AW169') }}">AW169</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <!--li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form-->
        </ul>
    </div>
</nav>

<div class="content">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <p class="h3" style="text-align:center" >Clear-Area Rejected Takeoff-Distance Calculator for AW139</p>
    <p style="text-align:center">Calculate the rejected takeoff distance of the AW139 helicopter in case of a single engine failure at TDP during a clear area takeoff.
        <br/>
        Please find the instructions <a href="{{ url_for('about') }}">here</a>.
    </p>
    <!--<div class="alert alert-warning" role="alert">
    This tool is for informational purpose only. It is an uncontrolled copy. For actual planning the pilot must use the current RFM.
    </div>-->
    <form method="post" action="{{ url_for('AW139_rejected_tod_clear_area_result') }}" id="calculator_form">

        <div class="form-group">
            <label for="gross_mass">Gross Mass (kg):</label>
            <input class="form-control input-sm" type="number" name="gross_mass" id="gross_mass" value="{{gross_mass_SV}}" placeholder="4400 to 7000" min="4400" max="7000">
        </div>

        <div class="form-group">
            <label for="height">Height at TDP above MSL (ft):</label>
            <input class="form-control input-sm" type="number" name="height" id="height" value="{{height_SV}}" placeholder="0 to 8000" min="0" max="8000">
        </div>

        <div class="form-group">
            <label for="QNH">QNH (hPa):</label>
            <input class="form-control input-sm" type="number" name="QNH" id="QNH" value="{{QNH_SV}}" placeholder="970 to 1050" min="970" max="1050">
        </div>

        <div class="form-group">
            <label for="temp">Temperature (C):</label>
            <input class="form-control input-sm" type="number" name="temp" id="temp" value="{{temp_SV}}" placeholder="-30 to 50" min="-30" max="50">
        </div>

        <div class="form-group">
            <label for="wind">Headwind component (kt):</label>
            <input class="form-control input-sm" type="number" name="wind" id="wind" value="{{wind_SV}}" placeholder="0 to 60" min="0" max="60">
        </div>

        <div class="form-group">
            <label for="flight_ID">Flight ID:</label>
            <input class="form-control input-sm" type="text" name="flight_ID" id="flight_ID" value="{{flight_ID_SV}}" placeholder="example: HSO41A or D-HHMH">
        </div>

        <div class="form-group">
            <label for="PIC">PIC/SIC:</label>
            <input class="form-control input-sm" type="text" name="PIC" id="PIC" value="{{PIC_SV}}" placeholder="example: JDO or Joe Doe">
        </div>
        <a href="#anchor">
            <input class="btn btn-primary" type="submit" value="Calculate" />
        </a>
        <br/>
        <br/>


    </form>
    {% if calculation_success == True %}
    <h5 id="anchor" style="color:red;font-size:4vw;">Result:</h5>
    <table>
        <tr><td >Pressure Altitude:</td><td style="color:red;">{{result_PA}} ft</td></tr>
        <tr><td >Rejected Takeoff Distance: </td><td style="color:red;">{{result_rejected_takeoff_distance}} m</td></tr>
    </table>
    <br/>
    <div class="content">
        <p style="text-align: left"><b>Preview:</b></p>
        <img id="output_image" align="left" style= "margin-bottom: 25px; margin-top: 0px; border:0" src="{{ url_for('static', filename=result_png )}}">
    </div>
    <br/>
    <div class="content">
        <embed src="{{ url_for('static', filename=result_pdf )}}" type="application/pdf" width="100%" height="600px" />
        <br/>
        <br/>
        <p><a class="btn btn-primary" type="submit" value="Download" href="{{ url_for('static', filename=result_pdf) }}" download rel="noopener noreferrer" target="_blank">Download PDF</a></p>
    </div>
    <br/>
    {% endif %}

    {% if calculation_success == False %}
    <br/>
    <p>{{error}}</p>
    <p>{{QNH}}  {{DOM}} = "{{result}}"</p>
    {% endif %}

    {% if calculation_only_success == False %}
    <br/>
    <p>{{error}}</p>
    <p>{{QNH}}  {{DOM}} = "{{result}}"</p>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let img = document.getElementById('output_image');
            img.style.height = '233px';
            img.style.width = '330px';

        }, false);
    </script>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>