<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
      body {
            margin: auto;
            position: relative;
            background-color: black;
            color: white;
      }
      .content {
          margin: auto;
          margin-top: 25px;
          margin-left: 25px;
          margin-right: 25px;
          width: auto;
      }
    </style>

    <style>
    h3 {text-align: center;}
    </style>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#">HelicopterPerformance.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('AW139') }}">AW139</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="{{ url_for('AW169') }}">AW169</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
    </ul>
      <!--li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form-->
  </div>
</nav>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<style>
img {
  border: 5px solid #555;
    display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 50px;
}
figure {
  display: inline-block;
}

figcaption {
    text-align: center;
}

.img-with-text {
    text-align: center;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
</style>
</head>
<body>


<body>
<div class="bd-example" align="middle">

<!--img src="{{ url_for('static', filename='AW139_OGE_OEI.jpg' ) }}" alt="AW139 OGE OEI"-->
<!--img src="static\images\AW139_OGE_OEI.jpg" alt="AW139 OGE OEI"-->


<!--a href="{{ url_for('AW139_OGE_OEI') }}">
<img border="0" alt="AW139 OGE OEI" src="{{ url_for('static', filename='AW139_OGE_OEI.jpg' ) }}" width="200" height="300" title="AW 139 OGE OEI">
</a-->

<div class="img-with-text">
    <a href="{{ url_for('AW139_OGE_OEI') }}">
    <img border="0" alt="AW139 OGE OEI" src="{{ url_for('static', filename='AW139_OGE_OEI.jpg' ) }}" width="200" height="282" title="AW 139 OGE OEI">
    </a>
    <p>AW139 Hover Ceiling</br>
    Out of Ground Effect</br>
    2.5 Minute OEI</p>
</div>
<div class="img-with-text">
    <a href="{{ url_for('AW139_height_loss') }}">
    <img border="0" alt="AW139_height_loss" src="{{ url_for('static', filename='AW139_height_loss.jpg' ) }}" width="282" height="200" title="AW139 height from hover after engine failure">
    </a>
    <p>AW139 height loss after </br>engine failure from hover  </br></p>
</div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

<!--p><a href="{{ url_for('AW139_OGE_OEI') }}">AW139 hover ceiling out of ground effect 2.5 minute power OEI</a></p-->
</body>
</html>