<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  Essential META Tags -->
    <meta property="og:title" content="Helicopter Performance Calculator">
    <meta property="og:description" content="Assess the performance of your helicopter.">
    <meta property="og:image" content="https://www.helicopterperformance.com/static/meta.jpg">
    <meta property="og:url" content="https://www.helicopterperformance.com/index.html">
    <!--meta name="twitter:card" content="summary_large_image"-->
    <!--  Non-Essential, But Recommended -->
    <!--meta property="og:site_name" content="European Travel, Inc.">
    <meta name="twitter:image:alt" content="Alt text for image"-->
    <!--  Non-Essential, But Required for Analytics -->
    <!--meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@website-username"-->
    <title>Helicopter Performance Calculator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N8B9631KV8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N8B9631KV8');
</script>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.jpg' ) }}"  width="160" height="40" alt="HelicopterPerformance.com" border=0 style="border:0; margin-top:0"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('AW139') }}">AW139</a>
          </li>
                <li class="nav-item">
            <a class="nav-link" href="{{ url_for('AW169') }}">AW169</a>
          </li>
                <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <!--li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form-->
        </ul>
      </div>
    </nav>

    <div class="content">
        <h3>Assess the performance of your helicopter</h3>
        </br>
        <p>Select your type:</p>
    </div>
    <div class="img-with-text">
        <p><b>AW139</b></p>
        <a href="{{ url_for('AW139') }}">
        <img border="0" alt="AW139" src="{{ url_for('static', filename='616_Bangladesh_Air_Force_AW139_MSAR._(cropped).jpg' ) }}" width="300" height="200" title="AW139 ">
        </a>
        <p style="font-size:9px;">Image by <a href="https://www.flickr.com/people/130382521@N04">Shadman Samee</a>, licenced under <a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a> </p>
    </div>
    </br>
    <div class="img-with-text">
        <p><b>AW169</b></p>
        <a href="{{ url_for('AW169') }}">
        <img border="0" alt="AW169" src="{{ url_for('static', filename='1600px-Agusta_Westland_AW_169_(solo).jpg' ) }}" width="300" height="200" title="AW169 ">
        </a>
        <p style="font-size:9px;">Image by <a href="https://www.flickr.com/people/41279068@N08">Adrian</a>, licenced under <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a> </p>
    </div>

   <div class="footer">
       <br/>
   If you would like to see another chart/helicopter to be added, want to report a bug or simply help me improve the site, please email me at:
    <a href = "mailto: s.goldberg@mailbox.org">s.goldberg@mailbox.org</a>
   </div>
   <br/>
   <br/>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>